{% extends "bootstrap/base.html" %}


{% block navbar %}
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ url_for('garnison-web.home') }}">Garnison</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        {#
        <li class="active"><a href="{{ url_for('garnison-web.home') }}">Home</a></li>
        <li><a href="{{ url_for('gachette-web-build.build_create') }}">Build</a></li>
        #}
        <li class="active"><a href="{{ url_for('garnison-web.dashboard')}}">Dashboard</a></li>
        <li><a href="#">Deploy</a></li>
        <li><a href="#">Status</a></li>
      </ul>
  </div><!-- /.navbar-collapse -->

</nav>
{% endblock %}

{% block content %}
<!-- <div class="container-fluid">
  <div class="row-fluid">

    <div class="span8"> -->

      <div id="messages-wrap">
      {% for category, msg in get_flashed_messages(with_categories=true) %}
        <p class="alert flash-{{ category }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ msg }}
        </p>
      {% endfor %}
      </div>
<div class="container">
      {% block container_content %}{% endblock %}
</div>
<!--     </div>

    <div class="span4 log">
    </div>

  </div>
  <hr>
</div> -->
{% endblock content %}