{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="row">
  <div><span id="lock-list"><!-- AJAX FILL --></span>
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Domains:
        </a>
        <span id="domain-list"><!-- AJAX FILL --></span>
        [ <span class="glyphicon glyphicon-refresh" onclick="refreshDomainList();"></span> ]
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="text" id="new-domain-name" class="form-control" placeholder="New Domain name">
          </div>
          <a id="create-domain-button" class="btn btn-default">Create</a>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Stacks
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
            <select id="domain-list-select">
            <!-- AJAX FILL -->
            </select>
            <a id="create-stack-button" class="btn btn-default">Create</a>
            <input type="text" id="new-stack-version" class="form-control" placeholder="New Stack Version">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Packages
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('form input').keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

function addNewDomain() {
  jQuery.ajax({
    url: "/api/domains/" + $("#new-domain-name").val(),
    type: "PUT",
    success: function(data, status, jqXHR) {
      console.log("Received PUT response: " + data.status + " " + data.message);
      refreshDomainList()
    }
  })
}

function refreshDomainList() {
  jQuery.ajax({
    url: "/api/domains/",
    success: function(data, status, jqXHR) {
      console.log("Received domains: " + data.domains);
      $("#domain-list").text(data.domains.join(" - "))
      s = $("#domain-list-select")
      s.empty();
      data.domains.forEach(function(d) {
        $("<option />", {value: d, text: d}).appendTo($("#domain-list-select")[0]);
      })
    }
  })
}
refreshDomainList();

function addNewStack() {
  jQuery.ajax({
    url: "/api/domains/" + $("#domain-list-select").val() + "/stacks/" + $("#new-stack-version").val(),
    type: "PUT",
    success: function(data, status, jqXHR) {
      console.log("Received PUT response: " + data.status + " " + data.message)
    }
  })
}

function refreshLocks() {
  jQuery.ajax({
    url: "/api/locks/",
    success: function(data, status, jqXHR) {
      console.log("Received locks: " + data.locks);
      $("#lock-list").empty();
      if (data.locks.deployments) {
        data.locks.deployments.forEach(function(d) {
          btn = $("<a class='btn btn-danger' href=''>");
          btn.text(d);
          $("#lock-list").append(btn);
        })
      }
      if (data.locks.packages) {
        data.locks.packages.forEach(function(p) {
          btn = $("<a class='btn btn-danger' href=''>");
          btn.text(p);
          $("#lock-list").append(btn);
        })
      }
    }
  })
}
refreshLocks();

// Listeners
$("#create-domain-button").click(addNewDomain);
$("#create-stack-button").click(addNewStack);


</script>

{% endblock scripts %}